@media screen and (min-width: 550px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  button {
    display: none;
  }

  header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  }

  header img {
    position: relative;
    width: 85px;
  }

  header span {
    font-size: 2.2rem;
  }

  header span {
    font-size: 2rem;
    margin: 0;
  }

  nav ul {
    display: flex;
  }

  header nav a {
    font-size: 1.7rem;
  }

  header nav {
    margin-right: 1rem;
    font-size: 2.5rem;
  }

  header nav ul {
    display: flex;
		flex-direction: row;
   }

  nav ul li {
    border: 0;
  }

  nav ul li:first-child {
  border-top: 0;
  }

  main h1 {
    margin-left: 1rem;
  }

  #directory p, a {
    font-size: 1.2rem;
  }

  .list {
    padding: 1rem;
  }

  .grid {
    padding: 1rem;
  }

  footer {
    display: flex;
    justify-content: center;
  }

}

@media screen and (min-width: 720px) {
  header span {
    font-size: 2.5rem;
  }
}

