@media screen and (min-width: 750px) {

  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  #menu {
    display: none;
  }

  header {
    position: relative;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header span {
    font-size: 2.5rem;
    margin: 0;
  }

  header img {
    align-self: center;
  transform: translateY(-50%);
  }

  nav ul {
  display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

  header nav {
    margin-right: 1rem;
    font-size: 2.5rem;
  }

  header nav ul {
    display: flex;
		flex-direction: row;
   }

  nav ul li {
    border: 0;
  }

  nav ul li:first-child {
  border-top: 0;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    align-items: stretch;
  }

  main h1 {
    grid-column: 1 / 4;
  }

  #me1 {
    margin-bottom: .5rem;
  }

  #me1 #aboutme {
    grid-column: 1 / 2;
    height: 100%;
    margin-bottom: 0;
    margin-right: .75rem;
  }

  #aboutme p {
    font-size: 1.5rem;
  }

  #me2 {
    margin-bottom: .5rem;
  }

  #me2 #photo {
    grid-column: 2 / 3;
    flex-direction: column;
  }

  #photo img {
    object-fit: cover;
    height: 400px;
  }

  #courses {
    grid-column: 1 / 4;
    margin-top: 0;
  }

  #course-list ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
  }

}