:root {
  --primary-color: #1ca5ff;
  --accent-color: #d7efff;
  --title-color: black;
}

body {
  font-family: 'Boogaloo', sans-serif;
  margin: 0;
  margin: 0;
  width: 100%;
}

header {
  text-align: center;
  background-color: var(--primary-color);
  position: relative;
}

header h1 {
  margin: 0;
  padding: 1rem;
  color: var(--title-color);
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

h2 {
  font-size: 1.5rem;
}

main {
  background-color: var(--accent-color);
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin: 0 10%;
  padding: 0 2rem;
}

main > img {
  width: 40%;
  height: auto;
  display: block;
  padding-bottom: 2rem;
  text-align: center;
}

img:last-child {
  width: 70%;
  padding-bottom: 2rem;
}

section p, li {
  font-family: 'Edu QLD Beginner', sans-serif;
  margin-top: 0;
  margin-bottom: .5rem;
  text-align: center;
  font-size: 1.2rem;
}

.color {
  padding: 0 10rem;
}


footer {
  margin: 0rem;
  padding: 1rem;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  text-align: center;
  background-color: var(--primary-color);
}

footer p {
  margin: 0;
}

footer > :first-child {
  color: var(--title-color);
  font-family: 'Boogaloo', sans-serif;
  font-size: 1.8rem;
  text-shadow: .5px 1.5px 1px white;
}

footer > :nth-child(2){
  color: #0033a0;
  font-size: 1.2rem;
  font-weight: 200;
  font-weight: bold;
  text-shadow: .5px .5px .5px #000;
}